### Data Cleaning 

create a column that will work with AZ ML Workspace

In [2]:
# system stuff
import sys
import os

import pandas as pd

# my stuff (abstracted non-important functions)
# Get the project root (one level up from notebooks)
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
from src.config import data_path
from src.prepare_data import create_train_test_dataframes

In [3]:
# create a single column to use as target for Azure
def create_target(x):
    out = "["
    if x['Data Scientist'] == 1:
        out+="'Data Scientist',"
    if x['Data Engineer'] == 1:
        out+="'Data Engineer',"
    if x['ML Engineer'] == 1:
        out+="'ML Engineer',"
    if x['Data Analyst'] == 1:
        out+="'Data Analyst',"
    #if x['Software Engineer'] == 1:
    #    out+="'Software Engineer',"
    if x['Other'] == 1:
        out+="'Other',"
        
    out = out.strip(',')+']'
    
    return out

In [4]:
df = pd.read_csv(data_path)
df.head()

,Response,Data Scientist,Data Engineer,Data Analyst,ML Engineer,Other
0,"ML Ops Specialist, ML Engineer",1,0,0,1,0
1,Analytics Consultant (at least that's what my ...,0,0,1,0,0
2,System Administrator,0,0,0,0,1
3,IT Support Specialist,0,0,0,0,1
4,"ML Engineer, ML Ops Specialist, Big Data Engin...",1,1,0,1,0

In [5]:
df['target'] = df.apply(create_target, axis=1)
df.head()

,Response,Data Scientist,Data Engineer,Data Analyst,ML Engineer,Other,target
0,"ML Ops Specialist, ML Engineer",1,0,0,1,0,"['Data Scientist','ML Engineer']"
1,Analytics Consultant (at least that's what my ...,0,0,1,0,0,['Data Analyst']
2,System Administrator,0,0,0,0,1,['Other']
3,IT Support Specialist,0,0,0,0,1,['Other']
4,"ML Engineer, ML Ops Specialist, Big Data Engin...",1,1,0,1,0,"['Data Scientist','Data Engineer','ML Engineer']"

In [5]:
# split so that it only trains on a subset 
n_train = 1_000
df_train, df_test = create_train_test_dataframes(df, n_train=n_train)

In [6]:
# pull another 1_000 for validation
df_validate, df_test = create_train_test_dataframes(df_test, n_train=n_train)

In [8]:
# save these for upload to the workspace
# after removing the int columns
df_train[['Response', 'target']].to_csv(data_path.replace('.csv', '_train.csv'), index=False)
df_validate[['Response', 'target']].to_csv(data_path.replace('.csv', '_validate.csv'), index=False)
df_test[['Response', 'target']].to_csv(data_path.replace('.csv', '_test.csv'), index=False)